{% load static %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FireSync</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
</head>
<body class="login">
    <div id="container">
        <div id="header"><div id="branding">
            <h1 id="site-name">FireSync <strong>(insecure auth)</strong></h1>
        </div></div>
        <div id="content" class="colM">
            <div id="content-main">
                <form id="login-form">
                    <div class="form-row"><label for="id_username" class="required">Email:</label> <input id="id_username" type="text" name="email" value="" required /></div>
                    <div class="form-row"><label for="id_password" class="required">Password:</label> <input id="id_password" type="password" name="password" value="" required /></div>
                    <div class="submit-row"><input type="submit" value="Sign in" /></div>
                </form>
            </div>
            <br class="clear">
        </div>
        <div id="footer"></div>
    </div>

    <script src="{% static 'common.js' %}"></script>
    <script type="text/javascript">
        window.addEventListener("message", function (event) {
            var result = event.data.content;
            var type = event.data.type;

            console.log("Received message:", type, result);
        }, false);

        document.getElementById("login-form").addEventListener("submit", function (event) {
            event.preventDefault();

            var email = this.elements.email.value;
            var password = this.elements.password.value;

            var r = new XMLHttpRequest();
            r.open("POST", "/v1/account/login");
            r.setRequestHeader("Content-Type", "application/json");
            r.onload = function () {
                if (this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    data["email"] = email;
                    // data["unwrapBKey"] = unwrapBKey;
                    send("login", data);
                }
            };
            r.send(JSON.stringify({
                "email": email,
                "plaintextPW": password  // This differs from actual protocol. And this is insecure. Fuck me.
            }));
        });

        document.getElementById("id_username").focus();
    </script>
</body>
</html>